if ! has nix_direnv_version || ! nix_direnv_version 3.0.0; then
  source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/3.0.0/direnvrc" "sha256-21TMnI2xWX7HkSTjFFri2UaohXVj854mgvWapWrxRXk="
fi

if ! command -v devenv >/dev/null 2>&1; then
  echo "devenv not installed — see https://devenv.sh/getting-started/"
  exit 1
fi

eval "$(devenv direnvrc)"
use devenv
